body{
    background: linear-gradient(green,yellow,white);
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    border-image:15px;
   
}


nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19 ;
    text-decoration: underline;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background: gainsboro;
    opacity: 60%;
    transition: 1.4s;
    

}
.productos li:hover{
    border-color: #c78c19;
    opacity: 1;
    background:blue;
    color: #c78c19;
    scale: 1.1;
}

.productos h2{
    font-size: 20px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 22px;
}
.productos button{
    align-items: center;
}

.inicio li{
    width: 940px;
    position: relative;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
   border-radius: 10px;

}
.contactos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
}
.contactos img{
    
    width: 100%;
}
.contactos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
   border-radius: 10px;

}

.contactos li:hover{
    border-color: blue;
}
.contactos li:active{
    border-color: sienna;
}
.contactos h2{
    font-size: 30px;
    font-weight: bold;
}
.contactos li:hover h2{
    font-size: 33px;
}
.descripcion{
    font-size: 18px;
}
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links {
    margin: 0;
}

.links li {
    display: inline-block;
    text-align: baseline;
    padding: 0 20px 0 0;
}

.imagenes {
    width: 100px;
}
